/*----------------------------------------ANIMATIONS-----------------------------------------*/


/*-------------------------------------------HEADER------------------------------------------*/
#page-name{
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;  
}

/*--------------------------------------------BODY-------------------------------------------*/

  #call-to-action{
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;  
}

/*Service Options*/
.service-name{
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.serive-description{
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}





/*--------------------------------------------------------------------------------------------
------------------------------------------MEDIA START-----------------------------------------
--------------------------------------------------------------------------------------------*/


/*-------------------------------------------MEDIUM------------------------------------------*/

@media screen and (max-width: 850px) and (min-width: 600px){

    /*-------------------------------------------HEADER------------------------------------------*/
    
 #page-name{
    font-size: 850%;
}

/*Desktop Nav*/

nav{
    display: block;
}

.drop-menu{
    display: none;
}


/*Service Options*/
.service{
    margin-bottom: 0.5em;
}

.service-name{
    font-size: 3em;
}

.serive-description{
    font-size: 150%;
}

}


/*-------------------------------------------LARGER------------------------------------------*/

@media screen and (max-width: 1200px) and (min-width: 850px){

    /*-------------------------------------------HEADER------------------------------------------*/

    #page-name{
        font-size: 850%;
        -webkit-text-stroke: 1.5px #E7EBF6;
    }

    /*Desktop Nav*/

    nav{
        display: block;
    }
    
    .drop-menu{
        display: none;
    }

     /*--------------------------------------------BODY-------------------------------------------*/

     #call-to-action{
        margin-left: 15%;
        margin-right: 15%;  
    }
    
   
    
    
    /*Service Options*/

    .service-name{
        font-size: 1.5em;
    }

    .services{
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5%;
        margin: 1.5%;
    
    }

    .serive-description{
        font-size: 100%;
    }

     /*-------------------------------------------FOOTER------------------------------------------*/

     #footer-info{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
    }
    
    }






   /*-------------------------------------------LARGEST------------------------------------------*/ 
    @media screen and (max-width: 1800px) and (min-width: 1200px){

        /*-------------------------------------------HEADER------------------------------------------*/
    
        #page-name{
            font-size: 17.5em;
            -webkit-text-stroke: 1.5px #E7EBF6;
        }
        
        /*Desktop Nav*/
    
        nav{
            display: block;
        }
        
        .drop-menu{
            display: none;
        }

    
         /*--------------------------------------------BODY-------------------------------------------*/

         #genesis{
            font-size: 4em;
         }
    
         #call-to-action{
            margin-left: 25%;
            margin-right: 25%;  
        }

        .brand-info{
            margin-left: 15%;
            margin-right: 15%; 
            font-size: 2em;

        }
        

        /*Service Options*/
    
        .service-name{
            font-size: 2em;
        }
    
        .services{
            display: grid;
            grid-template-rows: repeat(1, 1fr);
            grid-template-columns: repeat(3, 1fr);
            gap: 1.5%;
            margin: 1.5%;
        
        }
    
        .serive-description{
            font-size: 150%;
        }
    
         /*-------------------------------------------FOOTER------------------------------------------*/
    
   
       }