/*--------------------------------------------------------------------------------------------
------------------------------------------MEDIA START-----------------------------------------
--------------------------------------------------------------------------------------------*/


/*-----------------------------------------SMALLEST------------------------------------------*/


@media screen and (max-width: 700px){

/*--------------------------------------------------------------------------------------------
------------------------------------------FOOTER----------------------------------------------
--------------------------------------------------------------------------------------------*/


.social-links{
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    margin-top: 10px;
}

.social-links a{
    font-size: 1.0em;
}




.social-links a:hover{
    color: #DB162F;
}



.copy-info{
    font-size: 1em;
    order: -1;
}




   

}
