/*--------------------------------------------------------------------------------------------
------------------------------------------ANIMATIONS------------------------------------------
--------------------------------------------------------------------------------------------*/

/*----------------------------------------MAIN CONTENT---------------------------------------*/


#office{
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
}

.about-content{
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
}



/*------------------------------------------FOOTER------------------------------------------*/


#office{
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
}

.social-links p{
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
}



/*--------------------------------------------------------------------------------------------
------------------------------------------MEDIA START-----------------------------------------
--------------------------------------------------------------------------------------------*/


/*-----------------------------------------SMALLEST------------------------------------------*/


@media screen and (max-width: 700px){

    /*--------------------------------------------------------------------------------------------
    -----------------------------------------FOOTER----------------------------------------------
    --------------------------------------------------------------------------------------------*/


  .social-links{
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      text-align: center;
      margin-top: 10px;
  }

  .social-links a{
      font-size: 1.1em;
  }


  .copy-info{
      order: 1;
  }

} 






/*-----------------------------------------MEDIUM-----------------------------------------------*/


@media screen and (max-width: 1250px) and (min-width: 700px){


    /*--------------------------------------------------------------------------------------------
   ----------------------------------------MAIN CONTENT------------------------------------------
   --------------------------------------------------------------------------------------------*/

   #office{
      opacity: 0.4;
   }

   .content{
      position: relative;
   }

   .about-content{

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

    
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 10px;

      font-family: 'Rajdhani', sans-serif;
      font-size: 1.4em;
      font-weight: 500;
      color: #DB162F;

      border-top: none;
      padding: 5px;
      margin: 5px;
   }


    /*--------------------------------------------------------------------------------------------
    ------------------------------------------FOOTER----------------------------------------------
    --------------------------------------------------------------------------------------------*/
    
    
    .social-links{
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        text-align: center;
        margin-top: 10px;
 
    }
    
    .social-links a{
        font-size: 1.2em;
    }
    
    
    .copy-info{
        font-size: 1em;
        order: 1;
    }
    
    
    
 }



  /*-----------------------------------------BIGGEST---------------------------------------------*/




    @media screen and (max-width: 1920px) and (min-width: 1250px){

    /*--------------------------------------------------------------------------------------------
    ----------------------------------------MAIN CONTENT------------------------------------------
    --------------------------------------------------------------------------------------------*/

    #office{
      opacity: 0.3;
    }

    .content{
      position: relative;
    }

    .about-content{

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

  
      display: flex;
      flex-direction: column;
      text-align: center;
      gap: 20px;

      font-family: 'Rajdhani', sans-serif;
      font-size: 2em;
      font-weight: 500;
      color: #DB162F;

      border-top: none;
      padding: 5px;
      margin: 5px;
    }

    .history{
        gap: 20px;
    }

    .services{
        gap: 20px;
    }


}
    
