/*--------------------------------------------------------------------------------------------
------------------------------------------ANIMATIONS------------------------------------------
--------------------------------------------------------------------------------------------*/

/*----------------------------------------MAIN CONTENT---------------------------------------*/

#connect{
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
}

.connect-content{
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;   
}

.ats-content{
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;   
}




/*------------------------------------------FOOTER------------------------------------------*/

.social-links p{
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
}




/*--------------------------------------------------------------------------------------------
------------------------------------------MEDIA START-----------------------------------------
--------------------------------------------------------------------------------------------*/


/*-----------------------------------------SMALLEST------------------------------------------*/


@media screen and (max-width: 700px){

    /*--------------------------------------------------------------------------------------------
    -----------------------------------------FOOTER----------------------------------------------
    --------------------------------------------------------------------------------------------*/


  .social-links{
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      text-align: center;
      margin-top: 10px;
  }

  .social-links a{
      font-size: 1.1em;
  }


  .copy-info{
      order: 1;
  }

} 






/*-----------------------------------------MEDIUM-----------------------------------------------*/


@media screen and (max-width: 1250px) and (min-width: 700px){


    /*--------------------------------------------------------------------------------------------
   ----------------------------------------MAIN CONTENT------------------------------------------
   --------------------------------------------------------------------------------------------*/
   .connect-content{
    width: 70%;
   }



    /*--------------------------------------------------------------------------------------------
    ------------------------------------------FOOTER----------------------------------------------
    --------------------------------------------------------------------------------------------*/
    
    .connect-content{
        width: 70%;
    }
    
    .social-links{
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        text-align: center;
        margin-top: 10px;
 
    }
    
    .social-links a{
        font-size: 1.2em;
    }
    
    
    .copy-info{
        font-size: 1em;
        order: 1;
    }
   
    
 }












  /*-----------------------------------------BIGGEST---------------------------------------------*/




    @media screen and (max-width: 1920px) and (min-width: 1250px){

    /*--------------------------------------------------------------------------------------------
    ----------------------------------------MAIN CONTENT------------------------------------------
    --------------------------------------------------------------------------------------------*/




   #connect{
     opacity: 0.6;
   }

   .content{
     position: relative;
   }

   .connect-content{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); 

      display: flex;
      flex-direction: column;
      gap: 7em;
      text-align: center;

      width: 70%;
   }

   .connect-content h2{
 
      font-family: 'Rajdhani', sans-serif;
      font-size: 7em;
      font-weight: 550;
      color: #DB162F;
   }



   .ats-content{
     font-size: 3em;
     font-weight: 450;
   }

    /*--------------------------------------------------------------------------------------------
    ----------------------------------------FORM-FIELDO------------------------------------------
    --------------------------------------------------------------------------------------------*/

    .labels{
      display: flex;
      flex-direction: column;
      gap: 2.5px;
      text-align: center;
    }

    .labels input{
      border: solid 2px #DB162F;

      font-size: 2em;

      padding: 10px 10px 10px 20px;
    }

    

    .labels textarea{
      resize: none;

      border: solid 2px #DB162F;
 
      font-size: 2em;

      padding: 10px 10px 300px 20px;
    }



    #sendbutton{
      margin-top: 5px;
      border: solid 2px #DB162F;
      width: 100%;

      font-size: 2em;

      padding: 20px 0px 20px 0px;

      transition-duration: 150ms;
      transition-timing-function: ease-in-out;

      cursor: pointer;
    }



}
    
