/*----------------------------------------ANIMATIONS-----------------------------------------*/



/*-------------------------------------------HEADER------------------------------------------*/
#page-name{
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;  
}

/*--------------------------------------------BODY-------------------------------------------*/

  #call-to-action{
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;  
}

/*Service Options*/
.service-name{
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

.serive-description{
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}





/*--------------------------------------------------------------------------------------------
------------------------------------------MEDIA START-----------------------------------------
--------------------------------------------------------------------------------------------*/


/*-------------------------------------------MEDIUM------------------------------------------*/

@media screen and (max-width: 850px) and (min-width: 600px){

    /*-------------------------------------------HEADER------------------------------------------*/
    
 #page-name{
    font-size: 600%;
}

/*Desktop Nav*/

nav{
    display: block;
}

.drop-menu{
    display: none;
}

#link-up{
    margin-bottom: 7.5%;
}

.email-description{
    margin-bottom: 7.5%;
}

/*--FORM FIELD--*/

.labels{
    gap: 5.5px;
}

.labels input{
    font-size: 1em;

    padding: 2%;
}

}



/*-------------------------------------------LARGER------------------------------------------*/

@media screen and (max-width: 1200px) and (min-width: 850px){

    /*-------------------------------------------HEADER------------------------------------------*/

    #page-name{
        font-size: 875%;
        -webkit-text-stroke: 1.5px #E7EBF6;
    }

    /*Desktop Nav*/

    nav{
        display: block;
    }
    
    .drop-menu{
        display: none;
    }

     /*--------------------------------------------BODY-------------------------------------------*/

     /*--FORM FIELD--*/

     .labels{
        gap: 5.5px;
     }


     #link-up{
        margin-bottom: 5%;
    }
    
    .email-description{
        margin-bottom: 5%;
    }

    .links-content{
        margin-bottom: 5%;
    }

    .labels input{
        font-size: 1em;
    
        padding: 1.5%;
    }
    
    
     /*-------------------------------------------FOOTER------------------------------------------*/

     #footer-info{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
    }
    
    }






   /*-------------------------------------------LARGEST------------------------------------------*/ 
    @media screen and (max-width: 1800px) and (min-width: 1200px){

        /*-------------------------------------------HEADER------------------------------------------*/
    
        #page-name{
            font-size: 12.5em;
            -webkit-text-stroke: 1.5px #E7EBF6;
        }
        
        /*Desktop Nav*/
    
        nav{
            display: block;
        }
        
        .drop-menu{
            display: none;
        }

    
         /*--------------------------------------------BODY-------------------------------------------*/

         #link-up{
            font-size: 4em;
         }
    
    
        .email-description{
            margin-left: 15%;
            margin-right: 15%; 
            font-size: 2em;
        }

        
        /*--FORM FIELD--*/

     .labels{
        gap: 5.5px;
     }


     #link-up{
        margin-bottom: 5%;
    }
    
    .email-description{
        margin-bottom: 5%;
    }

    .links-content{
        margin-bottom: 5%;
    }

    .labels input{
        font-size: 1em;
    
        padding: 1.5%;
    }

    .labels textarea{
        margin-bottom: 5%;

        padding: 7.5px 10px 150px 15px;
    }
    
    /*-------------------------------------------FOOTER------------------------------------------*/
    
   
       }