/*--------------------------------------------------------------------------------------------
------------------------------------------ANIMATIONS------------------------------------------
--------------------------------------------------------------------------------------------*/

/*----------------------------------------MAIN CONTENT---------------------------------------*/





/*------------------------------------------FOOTER------------------------------------------*/




.social-links p{
    transition-duration: 350ms;
    transition-timing-function: ease-in-out;
}



/*--------------------------------------------------------------------------------------------
------------------------------------------MEDIA START-----------------------------------------
--------------------------------------------------------------------------------------------*/


/*-----------------------------------------SMALLEST------------------------------------------*/


@media screen and (max-width: 700px){

    /*--------------------------------------------------------------------------------------------
    --------------------------------------------TOP-----------------------------------------------
    --------------------------------------------------------------------------------------------*/

    #party{
        display: none;
    }







    /*--------------------------------------------------------------------------------------------
    ----------------------------------------MAIN CONTENT------------------------------------------
    --------------------------------------------------------------------------------------------*/

    .pieces{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(4, 1fr);
    }






    /*--------------------------------------------------------------------------------------------
    -----------------------------------------FOOTER----------------------------------------------
    --------------------------------------------------------------------------------------------*/


  .social-links{
      padding: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 10px;
      text-align: center;
      margin-top: 10px;
  }

  .social-links a{
      font-size: 1.1em;
  }


  .copy-info{
      order: 1;
  }

} 




/*-----------------------------------------MID-SMALL---------------------------------------------*/


@media screen and (max-width: 900px) and (min-width: 700px){

    .pieces{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4, 1fr);
      }
  



}










/*-----------------------------------------MEDIUM-----------------------------------------------*/


@media screen and (max-width: 1250px) and (min-width: 700px){

 

    /*--------------------------------------------------------------------------------------------
    ------------------------------------------FOOTER----------------------------------------------
    --------------------------------------------------------------------------------------------*/
    
    
    .social-links{
        padding: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 10px;
        text-align: center;
        margin-top: 10px;
 
    }
    
    .social-links a{
        font-size: 1.2em;
    }
    
    
    .copy-info{
        font-size: 1em;
        order: 1;
    }
    
    
    
 }



  /*-----------------------------------------BIGGEST---------------------------------------------*/




    @media screen and (max-width: 1920px) and (min-width: 1250px){

    /*--------------------------------------------------------------------------------------------
    ----------------------------------------MAIN CONTENT------------------------------------------
    --------------------------------------------------------------------------------------------*/



}
    
