/*----------------------------------------ANIMATIONS-----------------------------------------*/


/*-------------------------------------------HEADER------------------------------------------*/
#page-name{
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;  
}

#peak{
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}

/*--------------------------------------------BODY-------------------------------------------*/

.line{
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;
}


/*--------------------------------------------------------------------------------------------
------------------------------------------MEDIA START-----------------------------------------
--------------------------------------------------------------------------------------------*/


/*-------------------------------------------MEDIUM------------------------------------------*/

@media screen and (max-width: 850px) and (min-width: 650px){

    /*-------------------------------------------HEADER------------------------------------------*/
    

/*Desktop Nav*/

nav{
    display: block;
}

.drop-menu{
    display: none;
}


}


/*-------------------------------------------LARGER------------------------------------------*/

@media screen and (max-width: 1200px) and (min-width: 850px){

    /*-------------------------------------------HEADER------------------------------------------*/

    #peak{
        padding-top: 25%;
        padding-bottom: 35%;
    }

    /*Desktop Nav*/

    nav{
        display: block;
    }
    
    .drop-menu{
        display: none;
    }

    #title-video-desktop{
        display: block;
    }

    #title-video-mobile{
        display: none;
    }



     /*-------------------------------------------FOOTER------------------------------------------*/

     #footer-info{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
    }
    
    }






   /*-------------------------------------------LARGEST------------------------------------------*/ 
    @media screen and (max-width: 1800px) and (min-width: 1200px){

        /*-------------------------------------------HEADER------------------------------------------*/
    
        #peak{
            padding-top: 15%;
            padding-bottom: 35%;
        }
        
        /*Desktop Nav*/
    
        nav{
            display: block;
        }
        
        .drop-menu{
            display: none;
        }

        #title-video-desktop{
            display: block;
        }
    
        #title-video-mobile{
            display: none;
        }

    
         /*--------------------------------------------BODY-------------------------------------------*/

        

         
        .line{
           margin: 5%;
           width: 20%;
         }
    
         /*-------------------------------------------FOOTER------------------------------------------*/
    
   
       }