/*----------------------------------------ANIMATIONS-----------------------------------------*/


/*-------------------------------------------HEADER------------------------------------------*/
#page-name{
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;  
}

.modal-content{
    transition-duration: 250ms;
    transition-timing-function: ease-in-out;  
}

/*--------------------------------------------BODY-------------------------------------------*/





/*--------------------------------------------------------------------------------------------
------------------------------------------MEDIA START-----------------------------------------
--------------------------------------------------------------------------------------------*/


/*-------------------------------------------MEDIUM------------------------------------------*/

@media screen and (max-width: 850px) and (min-width: 600px){

    /*-------------------------------------------HEADER------------------------------------------*/
    
 #page-name{
    font-size: 80px;
}

/*Desktop Nav*/

nav{
    display: block;
}

.drop-menu{
    display: none;
}

.modal-content{
   padding: 10%;
}

.modal-text{
    font-size: 25px;
}

}

/*-------------------------------------------LARGER------------------------------------------*/

@media screen and (max-width: 1200px) and (min-width: 850px){

    /*-------------------------------------------HEADER------------------------------------------*/

    #page-name{
        font-size: 850%;
        -webkit-text-stroke: 1.5px #E7EBF6;
    }

    /*Desktop Nav*/

    nav{
        display: block;
    }
    
    .drop-menu{
        display: none;
    }

     /*--------------------------------------------BODY-------------------------------------------*/

     .modal-content{
        padding: 15%;
     }
     
     .modal-text{
         font-size: 30px;
     }


     /*-------------------------------------------FOOTER------------------------------------------*/

     #footer-info{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        justify-content: center;
    }
    
    }






   /*-------------------------------------------LARGEST------------------------------------------*/ 
    @media screen and (max-width: 1800px) and (min-width: 1200px){

        /*-------------------------------------------HEADER------------------------------------------*/
    
        #page-name{
            font-size: 1000%;
            -webkit-text-stroke: 1.5px #E7EBF6;
        }
        
        /*Desktop Nav*/
    
        nav{
            display: block;
        }
        
        .drop-menu{
            display: none;
        }

    
         /*--------------------------------------------BODY-------------------------------------------*/

         .modal-content{
            padding: 15%;
         }
         
         .modal-text{
             font-size: 30px;
         }
    
        

   
    
         /*-------------------------------------------FOOTER------------------------------------------*/
    
   
       }